.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #FFB6C1;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
}

.nav-links { 
	list-style: none;
	display: flex;
	gap: 25px;
}

.nav-links li a { 
	color: pink;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
/* menambahkan background link di nav*/
	background-color: lightyellow;
	padding: 10px 20px;
	border-radius: 20px;
}
.nav-links li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: lightblue;
	font-weight: bold;
}

.content {
	padding: 90px 20px;
	background: linear-gradient(0deg,rgba(255, 182, 193, 1) 0%, rgba(255, 237, 199, 1) 100%);
	color: lightyellow;
	text-align: center;
}

.nav-links li a:hover {
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: lightblue;
	font-weight: bold;
}

.content ul a {
	color: pink;
	text-decoration: none;
	font-size: 18;
	transition: 0.3s;

	background-color: lightyellow;
	padding: 10px 20px;
	border-radius: 15px;
	text-align: center;
}

.nav-links li a:hover {
	background: white;
	padding: 10px 20px;
	border-radius: 20px;
	color: lightblue;
	font-weight: bold;
}

.content {
	padding: 80px 20px;
}

.logo {
	background-color: lightyellow;
	color: lightpink;
	border-radius: 50%;
	font-weight: bold;
	font-size: 22;
	text-shadow: 0 0 7px #fff, 0 0 21px #ff00de;
	padding: 10px;
}